URL=yoursitehere
MARIADB_ROOT_PASSWORD=passwordhere
GHOST_DATABASE_USER=ghostdbuserhere
GHOST_DATABASE_PASSWORD=passwordhere
GHOST_PASSWORD=passwordhere
GHOST_EMAIL=user@user.com
GHOST_USERNAME=usernamehere
BLOG_TITLE=blogtitlehere
